@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: radial-gradient(circle at top, #1a002d, #05010d);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

canvas {
  touch-action: none;
}
